*{
    margin: 0; 
    padding: 0;
}

button{
    all: unset;
    cursor: pointer;
}

body{
    background-color: #222831;
    color: #DDDDDD;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    font-size: 16px;
}

/* HEADER */

.left-header, .right-header{
    display: flex;
    align-items: center;
}

.logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

.logout i{
    font-size: 2rem;
}

.logout p{
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.logout:hover{
    color: #F05454;
}

.right-header h2{
    font-size: 1rem;
    letter-spacing: 1rem;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}

header img{
    width: 100px;
    margin: 0 10px;
}

h1{
    font-size: 3rem;
    font-weight: bold;
}

/* MAIN */

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

/* LADO IZQUIERDO OPCIONES */
.opciones{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.opcion{
    background-color: #053d57;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
}

.opcion p{
    width: 100%;
    text-align: center;
}

.opcion:hover{
    background-color: #04293A;
    cursor: pointer;
}

/* LADO DERECHO SCREEN */

.screen{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.top-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2rem;
}

.top-screen img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

/* NADA */

.none p{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

/* CONSULTAR SALDO */

.saldo-container{
    display: flex;
    flex-direction: column;
}

.saldo-container p{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    
}

/* RETIRAR */

.retirar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retirar-container p{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.retirar-container input{
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

/* INGRESAR */

.ingresar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingresar-container p{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.ingresar-container input{
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

input:focus, input[type]:focus {
    border-color: rgb(0, 162, 255);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(0, 183, 255, 0.6);
    outline: 0 none;
}

.btn{
    background-color: #053d57;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 15px;
}

.btn:hover{
    background-color: #04293A;
}

.opc-screen{
    height: 100%;
    display: none;
}

.show{
    display: flex;
}

@media only screen and (max-width: 600px) {
    html{
        font-size: 12px;
    }

    h1{
        font-size: 2rem;
    }

    main{
        flex-direction: column;
    }

    body{
        height: auto;
    }

    .opciones{
        height: 240px;
        width: 100%;
    }
    .opcion{
        height: 60px;

    }

    .screen{
        margin: 2rem 0;
        width: 100%;
    }

    .top-screen h2{
        width: 100%;
        text-align: center;
    }
}