*{
    margin: 0; 
    padding: 0;
}

body{
    background-color: #222831;
    color: #DDDDDD;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    font-size: 16px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20%;
}

header img{
    width: 100px;
    margin: 0 10px;
}

h1{
    font-size: 3rem;
    font-weight: bold;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

/* PARTE IZQUIERDA ELEGIR CUENTA */
.elegir-cuentas{
    background-color: #242424;
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}


.elegir-cuentas h2{
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

/* CUENTAS */

.container-cuentas{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cuenta{
    background-color: #DDDDDD;
    color: #242424;
    font-size: 2rem;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 2rem;
}

.selected{
    color: #F05454;
    -webkit-box-shadow: 0px 0px 23px 3px rgba(240,84,84,1);
    -moz-box-shadow: 0px 0px 23px 3px rgba(240,84,84,1);
    box-shadow: 0px 0px 23px 3px rgba(240,84,84,1);
}


.cuenta p{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.cuenta img{
    width: 80px;
    border-radius: 2rem;
}


.cuenta:hover{
    background-color: #c7c7c7;
    cursor: pointer;
}

/* PARTE DERECHA LOGIN */

.login-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PARTE DEL PERFIL */
.cuenta-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1rem;
}

.cuenta-top img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.cuenta-top p{
    text-align: center;
}

.ctnr-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    width: 100%;
}

.ctnr-password p{
    font-weight: 300;
}

.ctnr-password input{
    width: 300px;
    font-size: 1.5rem;
}

.join{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 100;
    margin-top: 1.5rem;
}

.join p{
    text-align: center;
}

.join i{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.join button{
    all: unset;
    cursor: pointer;
}

.join button:hover{
    color: #F05454;
}

/* RESPONSIVE */

@media only screen and (max-width: 800px) {
    html{
        font-size: 12px;
    }

    main{
        flex-direction: column;
    }

    h1{
        font-size: 2.5rem;
        font-weight: bold;
    }

    body{
        height: auto;
    }

    .elegir-cuentas{
        margin-top: 1rem;
        width: 100%;
        height: 400px;
    }

    .login-container{
        margin-top: 1rem;
        width: 100%;
    }

    .ctnr-password{
        font-size: 2rem;
    }

    .ctnr-password input{
        font-size: 1.5rem;
    }
}